openapi: 3.1.0
info:
  title: Wakanim API
  version: "1.0"
  description: ""
servers:
  - url: "http://account.wakanim.tv/api"
    description: API Endpoint
paths:
  /user:
    get:
      summary: User Profile
      tags: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  $id:
                    type: string
                  public:
                    type: object
                    properties:
                      $id:
                        type: string
                      userId:
                        type: string
                      displayName:
                        type: string
                      privacySettings:
                        type: string
                      preferedLanguage:
                        type: string
                      timezone:
                        type: integer
                      enableDaylight:
                        type: boolean
                      fromWebsiteId:
                        type: integer
                      validatedUser:
                        type: boolean
                      createdDate:
                        type: string
                      lastModifiedDate:
                        type: string
                      lastModifiedBy:
                        type: string
                      avatar:
                        type: string
                      twitter:
                        type: string
                      website:
                        type: string
                      facebook:
                        type: string
                      googlePlus:
                        type: string
                      status:
                        type: string
                      country:
                        type: integer
                      disablePublicPage:
                        type: boolean
                      disableFromSearch:
                        type: boolean
                      disableAddFriend:
                        type: boolean
                      disableSendPrivateMessage:
                        type: boolean
                      disabledAccount:
                        type: boolean
                      lastActivityDate:
                        type: string
                      birthday:
                        type: string
                      gender:
                        type: integer
                      promoCampaign:
                        type: "null"
                      v2_AdvertTag:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_AdvertTag1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_Articles:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ArticlesRelated:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ArticlesRelated1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingPlan:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingPlan1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingSourceCard:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingSourceCard1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRate:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRate1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRateHistory:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRule:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRule1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRuleHistory:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ContestPhysicalAddress:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_Podcast_Following:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ROGroup:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ROGroup1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ShowEpisodeItemBought:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ShowItem_Following:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_SmsCode:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_SmsCode1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_StripePaymentSource:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_StripePaymentSource1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote2:
                        type: array
                        items:
                          type: object
                          properties: {}
                      secret:
                        type: string
                  accountType:
                    type: integer
                  svodEndDateUtc:
                    type: "null"
                  trialEndDateUtc:
                    type: "null"
                  isSVODAvailable:
                    type: boolean
                  isTrialAvailable:
                    type: boolean
                  isoCode:
                    type: string
                  isModerator:
                    type: boolean
                  isEventPartner:
                    type: boolean
                  userHasBought:
                    type: boolean
                  notifCountUnseen:
                    type: integer
                  isLocked:
                    type: boolean
                  secret:
                    type: string
                  apiLongToken:
                    type: string
        "403":
          description: Forbidden
      operationId: get-user
      security:
        - API Key: []
  /catalogue:
    get:
      summary: Catalogue
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Show"
              examples: {}
        "403":
          description: Forbidden
      operationId: get-catalogue
      security:
        - API Key: []
  /catalogue/show:
    get:
      summary: Show
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Show"
        "403":
          description: Forbidden
        "404":
          description: Not Found
      operationId: get-show
      parameters:
        - schema:
            type: number
          in: query
          name: Id
          description: Show Id
      security:
        - API Key: []
    parameters: []
  /catalogue/continuewatching:
    get:
      summary: Continue Watching
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Episode"
        "403":
          description: Forbidden
      operationId: get-catalogue-continuewatching
      security:
        - API_Key: []
  /catalogue/latestepisodes:
    get:
      summary: Latest Episodes
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Episode"
      operationId: get-catalogue-latestepisodes
      security:
        - API_Key: []
  /catalogue/latestfreeepisodes:
    get:
      summary: Latest Free Episodes
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Episode"
        "403":
          description: Forbidden
      operationId: get-catalogue-latestfreeepisodes
      security:
        - API_Key: []
      parameters:
        - schema:
            type: number
            default: 1
          in: query
          name: s
  /catalogue/mostpopularshows:
    get:
      summary: Most Popular Shows
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Show"
        "403":
          description: Forbidden
      operationId: get-catalogue-mostpopularshows
      security:
        - API_Key: []
  /catalogue/randomplaylist:
    get:
      summary: Random Playlist
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    $id:
                      type: string
                    name:
                      type: string
                    series:
                      type: array
                      items:
                        $ref: "#/components/schemas/Show"
                    id:
                      type: integer
        "403":
          description: Forbidden
      operationId: get-catalogue-randomplaylist
      parameters:
        - schema:
            type: number
            default: 4
          in: query
          name: nbPlaylists
          description: Number of random playlists
      security:
        - API_Key: []
  /catalogue/episodestreamingfree:
    get:
      summary: Free Stream
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Episode"
        "403":
          description: Forbidden
        "404":
          description: Not Found
      operationId: get-catalogue-episodestreamingfree
      security:
        - API_Key: []
      parameters:
        - schema:
            type: number
          in: query
          name: Id
          description: Episode Id
        - schema:
            type: number
          in: header
          name: X-Player
          description: "2"
          required: true
  /catalogue/episodemanifestfree:
    get:
      summary: Free Manifest
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/dash+xml:
              schema:
                type: object
                properties: {}
        "403":
          description: Forbidden
        "404":
          description: Not Found
      operationId: get-catalogue-episodemanifestfree
      security:
        - API_Key: []
      parameters:
        - schema:
            type: string
            format: uri
          in: query
          name: manifest
  /catalogue/nextepisode:
    post:
      summary: Next Episode
      operationId: post-catalogue-nextepisode
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Episode"
        "403":
          description: Forbidden
      security:
        - API_Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                showId:
                  type: integer
                episodeId:
                  type: integer
                  description: Current episodeId
  /catalogue/previousepisode:
    post:
      summary: Previous Episode
      operationId: post-catalogue-previousepisode
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Episode"
        "403":
          description: Forbidden
      security:
        - API_Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: number
              description: Current episodeId
        description: ""
  /catalogue/showWithCCBundle:
    get:
      summary: Show with CC Bundle
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Show"
        "403":
          description: Forbidden
        "404":
          description: Not Found
      operationId: get-catalogue-showWithCCBundle?Id=416
      security:
        - API_Key: []
      parameters:
        - schema:
            type: number
          in: query
          name: Id
          description: Show Id
    parameters: []
  /catalogue/similarplaylist:
    get:
      summary: Similar Playlists
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    $id:
                      type: string
                    name:
                      type: string
                    series:
                      type: array
                      items:
                        $ref: "#/components/schemas/Show"
                    id:
                      type: integer
        "403":
          description: Forbidden
      operationId: get-catalogue-similarplaylist
      security:
        - API_Key: []
      parameters:
        - schema:
            type: number
          in: query
          name: nbPlaylists
          description: Number of similar Playlists
        - schema:
            type: number
          in: query
          name: Id
          description: Season Id
          required: true
components:
  schemas:
    Episode:
      type: object
      properties:
        $id:
          type: string
        show:
          $ref: "#/components/schemas/Show"
        season:
          $ref: "#/components/schemas/Season"
        havePremiumDownload:
          type: boolean
        havePremiumStreaming:
          type: boolean
        subtitles:
          type: "null"
        title:
          type: string
        numero:
          type: integer
        nextEpisodeId:
          type:
            - integer
            - "null"
        nextEpisodeActive:
          type:
            - boolean
            - "null"
        previousEpisodeId:
          type: "null"
        previousEpisodeActive:
          type: "null"
        nextEpisodeTitle:
          type: "null"
        nextEpisodeImageUrl:
          type: "null"
        previousEpisodeTitle:
          type: "null"
        previousEpisodeImageUrl:
          type: "null"
        plannedBroadcastingUTC:
          type: string
        availableFreeStartUTC:
          type: string
        availableFreeEndUTC:
          type: string
        availablePassNoAdStartUTC:
          type: string
        availablePassNoAdEndUTC:
          type: string
        availablePremiumStartUTC:
          type: string
        availablePremiumEndUTC:
          type: string
        availableSVODStartUTC:
          type: string
        availableSVODEndUTC:
          type: string
        availableLanguages:
          type: string
        allowedCountries:
          type: "null"
        id:
          type: integer
        url:
          type: string
        imageUrl:
          type: string
        rating:
          type: integer
        active:
          type: boolean
        activationApproved:
          type: boolean
        alreadyViewed:
          type: boolean
        playTime:
          type: integer
        duration:
          type: integer
        metaDescription:
          type: string
        shortTitle:
          type: string
        metaTitle:
          type: string
        premiumPrice:
          type: integer
        enableStreaming:
          type: boolean
        enableDownloadNoDRM:
          type: boolean
        episodePremiumDLMobile:
          type: "null"
        episodePremiumDL720p:
          type: "null"
        episodePremiumDL1080p:
          type: "null"
        episodePremiumStreaming:
          type:
            - "null"
            - string
        episodeSVODStreaming:
          type:
            - "null"
            - string
        nbActivationStreaming:
          type: integer
        nbActivationDownload:
          type: integer
        episodeFreeStreaming:
          type:
            - "null"
            - string
        episodeNoAdStreaming:
          type:
            - "null"
            - string
        episodeDLFreeSD:
          type: "null"
        episodeDLFreeHD:
          type: "null"
        endDateBought:
          type: string
        midRollTime:
          type: "null"
        leaps:
          type: "null"
        parsedLeaps:
          type: array
          items:
            type: object
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
        alreadyBought:
          type: boolean
        isDtrAvailable:
          type: boolean
        isFairplayDTRAvailable:
          type: boolean
        forceUseFree:
          type:
            - boolean
            - "null"
        assetDuration:
          type: integer
        assetDurationISO8601:
          type: string
        assetDurationLongString:
          type: string
        metadata:
          type: "null"
        isVisibleForEndUser:
          type: boolean
        nbDaysAvailableFree:
          type: integer
        nbDaysAvailableNoAd:
          type: integer
        haveFree:
          type: boolean
        progressPercentage:
          type: integer
        haveNoAds:
          type: boolean
        haveSVOD:
          type: boolean
        havePremium:
          type: boolean
        wakanimEncodingVersion:
          type: "null"
        isMatureContent:
          type: boolean
        holdbackMinutesDL:
          type: "null"
    Tag:
      title: Tag
      type: object
      properties:
        $id:
          type: string
        id:
          type: integer
        name:
          type: string
        websiteId:
          type: integer
        active:
          type: boolean
        isIcon:
          type: boolean
        icon:
          type:
            - "null"
            - string
        tooltip:
          type: string
        text:
          type: string
    Show:
      type: object
      properties:
        $id:
          type: string
        isOnGoingShow:
          type: string
        seasons:
          type: array
          items:
            $ref: "#/components/schemas/Season"
        relatedNews:
          type: string
        followedByUsers:
          type: number
        synopsis:
          type: string
        extendedInformation:
          type: string
        youtube:
          type: string
        author:
          type: string
        producer:
          type: string
        nextEpisodeId:
          type: number
        nextEpisodeToSee:
          $ref: "#/components/schemas/Episode"
        progressNextEpisode:
          type: string
        isContinueWatching:
          type: boolean
        isContinueWatchingNextEpisode:
          type: string
        chromeCastSessionToken:
          type: string
        active:
          type: boolean
        idShowItem:
          type: number
        allowedCountries:
          type: string
        internalName:
          type: string
        name:
          type: string
        originalName:
          type: string
        availableOnPremiumDL:
          type: boolean
        availableOnPremium:
          type: boolean
        availableWithPassNoAd:
          type: boolean
        availableWithFree:
          type: boolean
        yearBroadcasting:
          type: number
        isFinishedSimulcast:
          type: string
        typeOfShow:
          type: string
        isPopularTitle:
          type: string
        imageUrl:
          type: string
        thumbnail:
          type: string
        metaDescription:
          type: string
        metaTitle:
          type: string
        metaType:
          type: number
        rating:
          type: number
        ratingStory:
          type: number
        ratingAnimation:
          type: number
        ratingCharacter:
          type: number
        ratingMusic:
          type: number
        nbSeasons:
          type: number
        seoMetaTitle:
          type: string
        seoMetaDescription:
          type: string
        seoOtherNames:
          type: string
        seoH1:
          type: string
        typeOfShowSTR:
          type: string
        orderOnHP:
          type: string
        spotLight:
          type: string
        spotLightEnd:
          type: string
        featured:
          type: string
        websiteId:
          type: string
        nbEpisodes:
          type: number
        followedByMe:
          type: string
        smallSummary:
          type: string
        onlyForAdmin:
          type: string
        copyright:
          type: string
        displayOnDiscover:
          type: string
        classification:
          $ref: "#/components/schemas/Classification"
        redirectToShowItem:
          type: string
        redirectToSeason:
          type: string
        genres:
          type: array
          items:
            $ref: "#/components/schemas/Genre"
        tags:
          type: array
          items:
            type: string
        startProduction:
          type: string
        availableWithSVOD:
          type: boolean
        availableInSVODSince:
          type: string
        availableInSVODUntil:
          type: string
        excludedCountriesList:
          type: string
        keywords:
          type: string
        friendlyName:
          type: string
        hideBackground:
          type: string
        logoUrl:
          type: string
    Season:
      type: object
      properties:
        $id:
          type: string
        episodes:
          type: array
          items:
            $ref: "#/components/schemas/Episode"
        nbTotalEpisodes:
          type: integer
        nbTotalEpisodesBought:
          type: integer
        nbTotalToBoughtEpisodes:
          type: integer
        percentageComplete:
          type: integer
        truePercentageComplete:
          type: integer
        priceForAuthenticatedUsers:
          type: integer
        nbTotalEpisodesToReceive:
          type: integer
        discountAppliedSeason:
          type: integer
        name:
          type: string
        shortName:
          type: string
        isARealSeason:
          type: boolean
        startDate:
          type: string
        endDate:
          type: string
        premieredSeason:
          type: integer
        premieredYear:
          type: integer
        isCatalogue:
          type: boolean
        isSimulcast:
          type: boolean
        active:
          type: boolean
        idSeason:
          type: integer
        allowToBuySeason:
          type: boolean
        packInformation:
          type: "null"
        isArc:
          type: boolean
        totalPrice:
          type: integer
        strikedPrice:
          type: integer
        numberEpisodes:
          type: integer
        alreadyBought:
          type: boolean
        excludedCountriesList:
          type: "null"
        enableDTR:
          type: boolean
        dtrStartDateUtc:
          type: string
        dtrEndDateUtc:
          type: string
        isDtrAvailable:
          type: boolean
        dtrExcludeCountries:
          type: "null"
        adaptationType:
          type: integer
        isMatureContent:
          type: boolean
        posterSeason:
          type: "null"
        startDateBroadcasting:
          type: string
        endDateBroadcasting:
          type: string
    Classification:
      title: Classification
      type: object
      properties:
        $id:
          type: string
        idClassification:
          type: number
        websiteId:
          type: number
        ageMin:
          type: number
        everyone:
          type: string
        name:
          type: string
    Genre:
      title: Genre
      type: object
      properties:
        $id:
          type: string
        name:
          type: string
        id:
          type: number
        websiteId:
          type: string
        active:
          type: boolean
        description:
          type: string
  securitySchemes:
    API_Key:
      type: http
      scheme: bearer
x-internal: false
