openapi: 3.1.0
x-stoplight:
  id: k8lhne2bfd5ui
info:
  title: Wakanim API
  version: '1.0'
  description: ''
servers:
  - url: 'http://account.wakanim.tv/api'
    description: API Endpoint
paths:
  /user:
    get:
      summary: User Profile
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  $id:
                    type: string
                  public:
                    type: object
                    properties:
                      $id:
                        type: string
                      userId:
                        type: string
                      displayName:
                        type: string
                      privacySettings:
                        type: string
                      preferedLanguage:
                        type: string
                      timezone:
                        type: integer
                      enableDaylight:
                        type: boolean
                      fromWebsiteId:
                        type: integer
                      validatedUser:
                        type: boolean
                      createdDate:
                        type: string
                      lastModifiedDate:
                        type: string
                      lastModifiedBy:
                        type: string
                      avatar:
                        type: string
                      twitter:
                        type: string
                      website:
                        type: string
                      facebook:
                        type: string
                      googlePlus:
                        type: string
                      status:
                        type: string
                      country:
                        type: integer
                      disablePublicPage:
                        type: boolean
                      disableFromSearch:
                        type: boolean
                      disableAddFriend:
                        type: boolean
                      disableSendPrivateMessage:
                        type: boolean
                      disabledAccount:
                        type: boolean
                      lastActivityDate:
                        type: string
                      birthday:
                        type: string
                      gender:
                        type: integer
                      promoCampaign:
                        type: 'null'
                      v2_AdvertTag:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_AdvertTag1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_Articles:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ArticlesRelated:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ArticlesRelated1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingPlan:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingPlan1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingSourceCard:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingSourceCard1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRate:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRate1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRateHistory:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRule:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRule1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_BillingTaxRuleHistory:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ContestPhysicalAddress:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_Podcast_Following:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ROGroup:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ROGroup1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ShowEpisodeItemBought:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_ShowItem_Following:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_SmsCode:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_SmsCode1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_StripePaymentSource:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_StripePaymentSource1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote1:
                        type: array
                        items:
                          type: object
                          properties: {}
                      v2_UserNote2:
                        type: array
                        items:
                          type: object
                          properties: {}
                      secret:
                        type: string
                  accountType:
                    type: integer
                  svodEndDateUtc:
                    type: 'null'
                  trialEndDateUtc:
                    type: 'null'
                  isSVODAvailable:
                    type: boolean
                  isTrialAvailable:
                    type: boolean
                  isoCode:
                    type: string
                  isModerator:
                    type: boolean
                  isEventPartner:
                    type: boolean
                  userHasBought:
                    type: boolean
                  notifCountUnseen:
                    type: integer
                  isLocked:
                    type: boolean
                  secret:
                    type: string
                  apiLongToken:
                    type: string
                x-examples:
                  Example 1:
                    $id: '1'
                    public:
                      $id: '2'
                      userId: 9df383b8-7977-4f0a-bfc9-775d76dc1c20
                      displayName: Eclipse9915
                      privacySettings: ''
                      preferedLanguage: de
                      timezone: 60
                      enableDaylight: true
                      fromWebsiteId: 3
                      validatedUser: true
                      createdDate: '2022-12-25T23:28:11.007'
                      lastModifiedDate: '2022-12-25T23:28:11.007'
                      lastModifiedBy: 9df383b8-7977-4f0a-bfc9-775d76dc1c20
                      avatar: ''
                      twitter: ''
                      website: ''
                      facebook: ''
                      googlePlus: ''
                      status: Wakanim !
                      country: 80
                      disablePublicPage: false
                      disableFromSearch: false
                      disableAddFriend: false
                      disableSendPrivateMessage: false
                      disabledAccount: false
                      lastActivityDate: '2022-12-25T23:28:11.007'
                      birthday: '1900-01-01T00:00:00'
                      gender: 0
                      promoCampaign: null
                      v2_AdvertTag: []
                      v2_AdvertTag1: []
                      v2_Articles: []
                      v2_ArticlesRelated: []
                      v2_ArticlesRelated1: []
                      v2_BillingPlan: []
                      v2_BillingPlan1: []
                      v2_BillingSourceCard: []
                      v2_BillingSourceCard1: []
                      v2_BillingTaxRate: []
                      v2_BillingTaxRate1: []
                      v2_BillingTaxRateHistory: []
                      v2_BillingTaxRule: []
                      v2_BillingTaxRule1: []
                      v2_BillingTaxRuleHistory: []
                      v2_ContestPhysicalAddress: []
                      v2_Podcast_Following: []
                      v2_ROGroup: []
                      v2_ROGroup1: []
                      v2_ShowEpisodeItemBought: []
                      v2_ShowItem_Following: []
                      v2_SmsCode: []
                      v2_SmsCode1: []
                      v2_StripePaymentSource: []
                      v2_StripePaymentSource1: []
                      v2_UserNote: []
                      v2_UserNote1: []
                      v2_UserNote2: []
                      secret: 6236e60887342b389d286c914788c4884c3a9cd5
                    accountType: 0
                    svodEndDateUtc: null
                    trialEndDateUtc: null
                    isSVODAvailable: false
                    isTrialAvailable: true
                    isoCode: DE
                    isModerator: false
                    isEventPartner: false
                    userHasBought: false
                    notifCountUnseen: 0
                    isLocked: false
                    secret: 6236e60887342b389d286c914788c4884c3a9cd5
                    apiLongToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJXYWthbmltLlRWIiwiYXVkIjoiaHR0cHM6Ly93d3cud2FrYW5pbS50diIsImV4cCI6MTY3NjMxMDY1NCwibmJmIjoxNjc0MTUwNjU0LCJpbmZvcyI6IntcIlVzZXJJZFwiOlwiOWRmMzgzYjgtNzk3Ny00ZjBhLWJmYzktNzc1ZDc2ZGMxYzIwXCIsXCJTZXNzaW9uSWRcIjpcImFwaVwiLFwiQ2xpZW50SWRcIjpcIndha2FuaW0uYW5kcm9pZC50ZXN0MlwiLFwiV2Vic2l0ZUNvdW50cnlcIjozLFwiQ291bnRyeVwiOlwiREVcIixcIklzU1ZPRFVzZXJcIjpmYWxzZSxcIkRldmljZUluZm9cIjpcIkdvb2dsZVwiLFwiSVBcIjpcIjEwNC4yOC4yNDkuMTc0XCJ9In0.mEJzIlOxMfQhuQtQU-jkNicMhQV8-FgednfJDv7E-Rs
        '403':
          description: Forbidden
      operationId: get-user
      security:
        - API Key: []
  /catalogue:
    get:
      summary: Catalogue
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    $id:
                      type: string
                    active:
                      type: boolean
                    idShowItem:
                      type: integer
                    allowedCountries:
                      type: 'null'
                    internalName:
                      type: string
                    name:
                      type: string
                    originalName:
                      type: string
                    availableOnPremiumDL:
                      type: boolean
                    availableOnPremium:
                      type: boolean
                    availableWithPassNoAd:
                      type: boolean
                    availableWithFree:
                      type: boolean
                    yearBroadcasting:
                      type: integer
                    isFinishedSimulcast:
                      type: boolean
                    typeOfShow:
                      type: integer
                    isPopularTitle:
                      type: boolean
                    imageUrl:
                      type: string
                    thumbnail:
                      type: string
                    metaDescription:
                      type: string
                    metaTitle:
                      type: string
                    metaType:
                      type: integer
                    rating:
                      type: number
                    ratingStory:
                      type: number
                    ratingAnimation:
                      type: number
                    ratingCharacter:
                      type: number
                    ratingMusic:
                      type: number
                    nbSeasons:
                      type: integer
                    seoMetaTitle:
                      type: 'null'
                    seoMetaDescription:
                      type: 'null'
                    seoOtherNames:
                      type: 'null'
                    seoH1:
                      type: 'null'
                    typeOfShowSTR:
                      type: string
                    orderOnHP:
                      type: integer
                    spotLight:
                      type: string
                    spotLightEnd:
                      type: string
                    featured:
                      type:
                        - 'null'
                        - string
                    websiteId:
                      type: integer
                    nbEpisodes:
                      type: integer
                    followedByMe:
                      type: boolean
                    smallSummary:
                      type: string
                    onlyForAdmin:
                      type: boolean
                    copyright:
                      type: string
                    displayOnDiscover:
                      type: boolean
                    classification:
                      type: object
                      properties:
                        $id:
                          type: string
                        idClassification:
                          type: integer
                        websiteId:
                          type: integer
                        ageMin:
                          type: integer
                        everyone:
                          type: boolean
                        name:
                          type: string
                    redirectToShowItem:
                      type: 'null'
                    redirectToSeason:
                      type: 'null'
                    genres:
                      type: array
                      items:
                        type: object
                        properties:
                          $id:
                            type: string
                          name:
                            type: string
                          id:
                            type: integer
                          websiteId:
                            type: integer
                          active:
                            type: boolean
                          description:
                            type: string
                    tags:
                      type: array
                      items:
                        type: object
                        properties: {}
                    startProduction:
                      type: string
                    availableWithSVOD:
                      type: boolean
                    availableInSVODSince:
                      type: string
                    availableInSVODUntil:
                      type: string
                    excludedCountriesList:
                      type: string
                    keywords:
                      type: 'null'
                    friendlyName:
                      type: string
                    hideBackground:
                      type: boolean
                    logoUrl:
                      type: string
              examples: {}
        '403':
          description: Forbidden
      operationId: get-catalogue
      security:
        - API Key: []
  /catalogue/show:
    get:
      summary: Show
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  $id:
                    type: string
                  isOnGoingShow:
                    type: boolean
                  seasons:
                    type: array
                    items:
                      type: object
                      properties:
                        $id:
                          type: string
                        episodes:
                          type: array
                          items:
                            type: object
                            properties:
                              $id:
                                type: string
                              subtitles:
                                type: 'null'
                              title:
                                type: string
                              numero:
                                type: integer
                              nextEpisodeId:
                                type:
                                  - integer
                                  - 'null'
                              nextEpisodeActive:
                                type: boolean
                              previousEpisodeId:
                                type: 'null'
                              previousEpisodeActive:
                                type: 'null'
                              nextEpisodeTitle:
                                type: 'null'
                              nextEpisodeImageUrl:
                                type: 'null'
                              previousEpisodeTitle:
                                type: 'null'
                              previousEpisodeImageUrl:
                                type: 'null'
                              plannedBroadcastingUTC:
                                type: string
                              availableFreeStartUTC:
                                type: string
                              availableFreeEndUTC:
                                type: string
                              availablePassNoAdStartUTC:
                                type: string
                              availablePassNoAdEndUTC:
                                type: string
                              availablePremiumStartUTC:
                                type: string
                              availablePremiumEndUTC:
                                type: string
                              availableSVODStartUTC:
                                type: string
                              availableSVODEndUTC:
                                type: string
                              availableLanguages:
                                type: string
                              allowedCountries:
                                type: 'null'
                              id:
                                type: integer
                              url:
                                type: string
                              imageUrl:
                                type: string
                              rating:
                                type: integer
                              active:
                                type: boolean
                              activationApproved:
                                type: boolean
                              alreadyViewed:
                                type: boolean
                              playTime:
                                type: integer
                              duration:
                                type: integer
                              metaDescription:
                                type: string
                              shortTitle:
                                type: string
                              metaTitle:
                                type: string
                              premiumPrice:
                                type: integer
                              enableStreaming:
                                type: boolean
                              enableDownloadNoDRM:
                                type: boolean
                              episodePremiumDLMobile:
                                type: 'null'
                              episodePremiumDL720p:
                                type: 'null'
                              episodePremiumDL1080p:
                                type: 'null'
                              episodePremiumStreaming:
                                type: 'null'
                              episodeSVODStreaming:
                                type: 'null'
                              nbActivationStreaming:
                                type: integer
                              nbActivationDownload:
                                type: integer
                              episodeFreeStreaming:
                                type: 'null'
                              episodeNoAdStreaming:
                                type: 'null'
                              episodeDLFreeSD:
                                type: 'null'
                              episodeDLFreeHD:
                                type: 'null'
                              endDateBought:
                                type: string
                              midRollTime:
                                type: 'null'
                              leaps:
                                type: 'null'
                              parsedLeaps:
                                type: array
                                items:
                                  type: object
                                  properties: {}
                              tags:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    $id:
                                      type: string
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                    websiteId:
                                      type: integer
                                    active:
                                      type: boolean
                                    isIcon:
                                      type: boolean
                                    icon:
                                      type:
                                        - 'null'
                                        - string
                                    tooltip:
                                      type: string
                                    text:
                                      type: string
                              alreadyBought:
                                type: boolean
                              isDtrAvailable:
                                type: boolean
                              isFairplayDTRAvailable:
                                type: boolean
                              forceUseFree:
                                type:
                                  - boolean
                                  - 'null'
                              assetDuration:
                                type: integer
                              assetDurationISO8601:
                                type: string
                              assetDurationLongString:
                                type: string
                              metadata:
                                type: 'null'
                              isVisibleForEndUser:
                                type: boolean
                              nbDaysAvailableFree:
                                type: integer
                              nbDaysAvailableNoAd:
                                type: integer
                              haveFree:
                                type: boolean
                              progressPercentage:
                                type: integer
                              haveNoAds:
                                type: boolean
                              haveSVOD:
                                type: boolean
                              havePremium:
                                type: boolean
                              wakanimEncodingVersion:
                                type: 'null'
                              isMatureContent:
                                type: boolean
                              holdbackMinutesDL:
                                type: 'null'
                        nbTotalEpisodes:
                          type: integer
                        nbTotalEpisodesBought:
                          type: integer
                        nbTotalToBoughtEpisodes:
                          type: integer
                        percentageComplete:
                          type: integer
                        truePercentageComplete:
                          type: integer
                        priceForAuthenticatedUsers:
                          type: integer
                        nbTotalEpisodesToReceive:
                          type: integer
                        discountAppliedSeason:
                          type: integer
                        name:
                          type: string
                        shortName:
                          type: string
                        isARealSeason:
                          type: boolean
                        startDate:
                          type: string
                        endDate:
                          type: string
                        premieredSeason:
                          type: integer
                        premieredYear:
                          type: integer
                        isCatalogue:
                          type: boolean
                        isSimulcast:
                          type: boolean
                        active:
                          type: boolean
                        idSeason:
                          type: integer
                        allowToBuySeason:
                          type: boolean
                        packInformation:
                          type: 'null'
                        isArc:
                          type: boolean
                        totalPrice:
                          type: integer
                        strikedPrice:
                          type: integer
                        numberEpisodes:
                          type: integer
                        alreadyBought:
                          type: boolean
                        excludedCountriesList:
                          type: 'null'
                        enableDTR:
                          type: boolean
                        dtrStartDateUtc:
                          type: string
                        dtrEndDateUtc:
                          type: string
                        isDtrAvailable:
                          type: boolean
                        dtrExcludeCountries:
                          type: 'null'
                        adaptationType:
                          type: integer
                        isMatureContent:
                          type: boolean
                        posterSeason:
                          type: 'null'
                        startDateBroadcasting:
                          type: string
                        endDateBroadcasting:
                          type: string
                  relatedNews:
                    type: 'null'
                  followedByUsers:
                    type: integer
                  synopsis:
                    type: string
                  extendedInformation:
                    type: string
                  youtube:
                    type: string
                  author:
                    type: string
                  producer:
                    type: string
                  nextEpisodeId:
                    type: integer
                  nextEpisodeToSee:
                    type: object
                    properties:
                      $id:
                        type: string
                      episodeId:
                        type: integer
                      showId:
                        type: integer
                      nextEpisodeId:
                        type: integer
                      nextEpisodeActive:
                        type: boolean
                      previousEpisodeId:
                        type: integer
                      previousEpisodeActive:
                        type: boolean
                      episodeNumber:
                        type: integer
                      title:
                        type: string
                      imageUrl:
                        type: string
                      summary:
                        type: string
                      playTime:
                        type: integer
                      duration:
                        type: integer
                      lastTimeViewed:
                        type: integer
                      tags:
                        type: 'null'
                      show:
                        type: object
                        properties:
                          $id:
                            type: string
                          idShowItem:
                            type: integer
                          name:
                            type: string
                          originalName:
                            type: string
                          yearBroadcasting:
                            type: integer
                          isFinishedSimulcast:
                            type: boolean
                          typeOfShow:
                            type: integer
                          isPopularTitle:
                            type: boolean
                          imageUrl:
                            type: string
                          thumbnail:
                            type: string
                          metaDescription:
                            type: string
                          metaTitle:
                            type: string
                          metaType:
                            type: integer
                          smallSummary:
                            type: string
                          copyright:
                            type: string
                          ratingNote:
                            type: integer
                          nbSeasons:
                            type: integer
                          ratingAnimation:
                            type: number
                          ratingCharacter:
                            type: number
                          ratingMusic:
                            type: number
                          ratingStory:
                            type: number
                          featured:
                            type: 'null'
                          spotLight:
                            type: string
                          spotLightEnd:
                            type: 'null'
                          logoUrl:
                            type: string
                          hideBackground:
                            type: boolean
                          excludedCountriesList:
                            type: string
                      season:
                        type: object
                        properties:
                          $id:
                            type: string
                          name:
                            type: string
                          shortName:
                            type: string
                          isARealSeason:
                            type: boolean
                          startDate:
                            type: string
                          endDate:
                            type: string
                          active:
                            type: boolean
                          idSeason:
                            type: integer
                          allowToBuySeason:
                            type: boolean
                          packInformation:
                            type: 'null'
                          isArc:
                            type: boolean
                          isCatalogue:
                            type: boolean
                          isSimulcast:
                            type: boolean
                          excludedCountriesList:
                            type: 'null'
                          dtrExcludeCountries:
                            type: 'null'
                          isDtrAvailable:
                            type: boolean
                          isFairplayDTRAvailable:
                            type: boolean
                          isMatureContent:
                            type: boolean
                          startDateBroadcasting:
                            type: string
                          endDateBroadcasting:
                            type: string
                      bought:
                        type: boolean
                      assetDuration:
                        type: integer
                      forceUseFree:
                        type: boolean
                      isFairplayDTRAvailable:
                        type: boolean
                      haveFree:
                        type: boolean
                      haveSVOD:
                        type: boolean
                      isDtrAvailable:
                        type: boolean
                      assetDurationISO8601:
                        type: string
                      assetDurationLongString:
                        type: string
                      metadata:
                        type: 'null'
                      alreadyBought:
                        type: boolean
                  progressNextEpisode:
                    type: integer
                  isContinueWatching:
                    type: boolean
                  isContinueWatchingNextEpisode:
                    type: boolean
                  chromeCastSessionToken:
                    type: 'null'
                  active:
                    type: boolean
                  idShowItem:
                    type: integer
                  allowedCountries:
                    type: 'null'
                  internalName:
                    type: 'null'
                  name:
                    type: string
                  originalName:
                    type: string
                  availableOnPremiumDL:
                    type: boolean
                  availableOnPremium:
                    type: boolean
                  availableWithPassNoAd:
                    type: boolean
                  availableWithFree:
                    type: boolean
                  yearBroadcasting:
                    type: integer
                  isFinishedSimulcast:
                    type: boolean
                  typeOfShow:
                    type: integer
                  isPopularTitle:
                    type: boolean
                  imageUrl:
                    type: string
                  thumbnail:
                    type: string
                  metaDescription:
                    type: string
                  metaTitle:
                    type: string
                  metaType:
                    type: integer
                  rating:
                    type: number
                  ratingStory:
                    type: number
                  ratingAnimation:
                    type: number
                  ratingCharacter:
                    type: number
                  ratingMusic:
                    type: number
                  nbSeasons:
                    type: integer
                  seoMetaTitle:
                    type: string
                  seoMetaDescription:
                    type: string
                  seoOtherNames:
                    type: string
                  seoH1:
                    type: string
                  typeOfShowSTR:
                    type: string
                  orderOnHP:
                    type: integer
                  spotLight:
                    type: string
                  spotLightEnd:
                    type: 'null'
                  featured:
                    type: 'null'
                  websiteId:
                    type: integer
                  nbEpisodes:
                    type: integer
                  followedByMe:
                    type: boolean
                  smallSummary:
                    type: string
                  onlyForAdmin:
                    type: boolean
                  copyright:
                    type: string
                  displayOnDiscover:
                    type: 'null'
                  classification:
                    type: object
                    properties:
                      $id:
                        type: string
                      idClassification:
                        type: integer
                      websiteId:
                        type: integer
                      ageMin:
                        type: integer
                      everyone:
                        type: boolean
                      name:
                        type: string
                  redirectToShowItem:
                    type: 'null'
                  redirectToSeason:
                    type: 'null'
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        $id:
                          type: string
                        name:
                          type: string
                        id:
                          type: integer
                        websiteId:
                          type: integer
                        active:
                          type: boolean
                        description:
                          type:
                            - 'null'
                            - string
                  tags:
                    type: array
                    items:
                      type: object
                      properties: {}
                  startProduction:
                    type: string
                  availableWithSVOD:
                    type: boolean
                  availableInSVODSince:
                    type: string
                  availableInSVODUntil:
                    type: string
                  excludedCountriesList:
                    type: string
                  keywords:
                    type: string
                  friendlyName:
                    type: string
                  hideBackground:
                    type: boolean
                  logoUrl:
                    type: string
                x-examples: null
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: get-show
      parameters:
        - schema:
            type: number
          in: query
          name: Id
          description: Show Id
      security:
        - API Key: []
    parameters: []
  /catalogue/continuewatching:
    get:
      summary: Continue Watching
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    $id:
                      type: string
                    show:
                      type: object
                      properties:
                        $id:
                          type: string
                        active:
                          type: boolean
                        idShowItem:
                          type: integer
                        allowedCountries:
                          type: 'null'
                        internalName:
                          type: 'null'
                        name:
                          type: string
                        originalName:
                          type: string
                        availableOnPremiumDL:
                          type: boolean
                        availableOnPremium:
                          type: boolean
                        availableWithPassNoAd:
                          type: boolean
                        availableWithFree:
                          type: boolean
                        yearBroadcasting:
                          type: integer
                        isFinishedSimulcast:
                          type: boolean
                        typeOfShow:
                          type: integer
                        isPopularTitle:
                          type: boolean
                        imageUrl:
                          type: string
                        thumbnail:
                          type: 'null'
                        metaDescription:
                          type: 'null'
                        metaTitle:
                          type: string
                        metaType:
                          type: integer
                        rating:
                          type: number
                        ratingStory:
                          type: number
                        ratingAnimation:
                          type: number
                        ratingCharacter:
                          type: number
                        ratingMusic:
                          type: number
                        nbSeasons:
                          type: integer
                        seoMetaTitle:
                          type: string
                        seoMetaDescription:
                          type: string
                        seoOtherNames:
                          type: string
                        seoH1:
                          type: string
                        typeOfShowSTR:
                          type: string
                        orderOnHP:
                          type: integer
                        spotLight:
                          type: 'null'
                        spotLightEnd:
                          type: 'null'
                        featured:
                          type: 'null'
                        websiteId:
                          type: integer
                        nbEpisodes:
                          type: integer
                        followedByMe:
                          type: boolean
                        smallSummary:
                          type: string
                        onlyForAdmin:
                          type: boolean
                        copyright:
                          type: string
                        displayOnDiscover:
                          type: 'null'
                        classification:
                          type: object
                          properties:
                            $id:
                              type: string
                            idClassification:
                              type: integer
                            websiteId:
                              type: integer
                            ageMin:
                              type: integer
                            everyone:
                              type: boolean
                            name:
                              type: string
                        redirectToShowItem:
                          type: 'null'
                        redirectToSeason:
                          type: 'null'
                        genres:
                          type: array
                          items:
                            type: object
                            properties: {}
                        tags:
                          type: array
                          items:
                            type: object
                            properties: {}
                        startProduction:
                          type: string
                        availableWithSVOD:
                          type: boolean
                        availableInSVODSince:
                          type: string
                        availableInSVODUntil:
                          type: string
                        excludedCountriesList:
                          type: string
                        keywords:
                          type: 'null'
                        friendlyName:
                          type: string
                        hideBackground:
                          type: 'null'
                        logoUrl:
                          type: string
                    season:
                      type: object
                      properties:
                        $id:
                          type: string
                        episodes:
                          type: 'null'
                        nbTotalEpisodes:
                          type: integer
                        nbTotalEpisodesBought:
                          type: integer
                        nbTotalToBoughtEpisodes:
                          type: integer
                        percentageComplete:
                          type: integer
                        truePercentageComplete:
                          type: integer
                        priceForAuthenticatedUsers:
                          type: integer
                        nbTotalEpisodesToReceive:
                          type: integer
                        discountAppliedSeason:
                          type: integer
                        name:
                          type: string
                        shortName:
                          type: string
                        isARealSeason:
                          type: boolean
                        startDate:
                          type: string
                        endDate:
                          type: string
                        premieredSeason:
                          type: integer
                        premieredYear:
                          type: integer
                        isCatalogue:
                          type: boolean
                        isSimulcast:
                          type: boolean
                        active:
                          type: boolean
                        idSeason:
                          type: integer
                        allowToBuySeason:
                          type: boolean
                        packInformation:
                          type: 'null'
                        isArc:
                          type: boolean
                        totalPrice:
                          type: integer
                        strikedPrice:
                          type: integer
                        numberEpisodes:
                          type: integer
                        alreadyBought:
                          type: boolean
                        excludedCountriesList:
                          type: 'null'
                        enableDTR:
                          type: boolean
                        dtrStartDateUtc:
                          type: string
                        dtrEndDateUtc:
                          type: string
                        isDtrAvailable:
                          type: boolean
                        dtrExcludeCountries:
                          type: 'null'
                        adaptationType:
                          type: integer
                        isMatureContent:
                          type: boolean
                        posterSeason:
                          type: 'null'
                        startDateBroadcasting:
                          type: string
                        endDateBroadcasting:
                          type: string
                    havePremiumDownload:
                      type: boolean
                    havePremiumStreaming:
                      type: boolean
                    subtitles:
                      type: 'null'
                    title:
                      type: string
                    numero:
                      type: integer
                    nextEpisodeId:
                      type: 'null'
                    nextEpisodeActive:
                      type: 'null'
                    previousEpisodeId:
                      type: 'null'
                    previousEpisodeActive:
                      type: 'null'
                    nextEpisodeTitle:
                      type: 'null'
                    nextEpisodeImageUrl:
                      type: 'null'
                    previousEpisodeTitle:
                      type: 'null'
                    previousEpisodeImageUrl:
                      type: 'null'
                    plannedBroadcastingUTC:
                      type: string
                    availableFreeStartUTC:
                      type: string
                    availableFreeEndUTC:
                      type: string
                    availablePassNoAdStartUTC:
                      type: string
                    availablePassNoAdEndUTC:
                      type: string
                    availablePremiumStartUTC:
                      type: string
                    availablePremiumEndUTC:
                      type: string
                    availableSVODStartUTC:
                      type: string
                    availableSVODEndUTC:
                      type: string
                    availableLanguages:
                      type: string
                    allowedCountries:
                      type: 'null'
                    id:
                      type: integer
                    url:
                      type: string
                    imageUrl:
                      type: string
                    rating:
                      type: integer
                    active:
                      type: boolean
                    activationApproved:
                      type: boolean
                    alreadyViewed:
                      type: boolean
                    playTime:
                      type: integer
                    duration:
                      type: integer
                    metaDescription:
                      type: 'null'
                    shortTitle:
                      type: string
                    metaTitle:
                      type: string
                    premiumPrice:
                      type: integer
                    enableStreaming:
                      type: boolean
                    enableDownloadNoDRM:
                      type: boolean
                    episodePremiumDLMobile:
                      type: 'null'
                    episodePremiumDL720p:
                      type: 'null'
                    episodePremiumDL1080p:
                      type: 'null'
                    episodePremiumStreaming:
                      type: string
                    episodeSVODStreaming:
                      type: string
                    nbActivationStreaming:
                      type: integer
                    nbActivationDownload:
                      type: integer
                    episodeFreeStreaming:
                      type: string
                    episodeNoAdStreaming:
                      type: string
                    episodeDLFreeSD:
                      type: 'null'
                    episodeDLFreeHD:
                      type: 'null'
                    endDateBought:
                      type: string
                    midRollTime:
                      type: string
                    leaps:
                      type: 'null'
                    parsedLeaps:
                      type: array
                      items:
                        type: object
                        properties: {}
                    tags:
                      type: array
                      items:
                        type: object
                        properties:
                          $id:
                            type: string
                          id:
                            type: integer
                          name:
                            type: string
                          websiteId:
                            type: integer
                          active:
                            type: boolean
                          isIcon:
                            type: boolean
                          icon:
                            type:
                              - 'null'
                              - string
                          tooltip:
                            type: string
                          text:
                            type: string
                    alreadyBought:
                      type: boolean
                    isDtrAvailable:
                      type: boolean
                    isFairplayDTRAvailable:
                      type: boolean
                    forceUseFree:
                      type: 'null'
                    assetDuration:
                      type: integer
                    assetDurationISO8601:
                      type: string
                    assetDurationLongString:
                      type: string
                    metadata:
                      type: 'null'
                    isVisibleForEndUser:
                      type: boolean
                    nbDaysAvailableFree:
                      type: integer
                    nbDaysAvailableNoAd:
                      type: integer
                    haveFree:
                      type: boolean
                    progressPercentage:
                      type: integer
                    haveNoAds:
                      type: boolean
                    haveSVOD:
                      type: boolean
                    havePremium:
                      type: boolean
                    wakanimEncodingVersion:
                      type: 'null'
                    isMatureContent:
                      type: 'null'
                    holdbackMinutesDL:
                      type: 'null'
                x-examples:
                  Example 1:
                    - $id: '1'
                      show:
                        $id: '2'
                        active: true
                        idShowItem: 416
                        allowedCountries: null
                        internalName: null
                        name: '-Dakaichi- My Number 1 (OmU.)'
                        originalName: 抱かれたい男1位に脅されています。
                        availableOnPremiumDL: true
                        availableOnPremium: true
                        availableWithPassNoAd: true
                        availableWithFree: true
                        yearBroadcasting: 2018
                        isFinishedSimulcast: false
                        typeOfShow: 0
                        isPopularTitle: false
                        imageUrl: 'http://cdn1.wakanim.tv/library/216_636967447945562549Dakaichi - My Number 1_Small.png'
                        thumbnail: null
                        metaDescription: null
                        metaTitle: '-Dakaichi- My Number 1 (OmU.)'
                        metaType: 2
                        rating: 4.5
                        ratingStory: 4.6
                        ratingAnimation: 4.6
                        ratingCharacter: 4.7
                        ratingMusic: 4.2
                        nbSeasons: 0
                        seoMetaTitle: '-Dakaichi- My Number 1 (Dakaretai Otoko 1-i ni Odosarete Imasu) - Anime-Streaming (Omu), in HD und legal auf Wakanim.tv'
                        seoMetaDescription: '-Dakaichi- My Number 1 (Dakaretai Otoko 1-i ni Odosarete Imasu) - Anime vom Regisseur Naoyuki Tatsuwa. Seasons: 1. Dauer: 23 min'
                        seoOtherNames: Dakaretai Otoko 1-i ni Odosarete Imasu
                        seoH1: '-Dakaichi- My Number 1'
                        typeOfShowSTR: Series
                        orderOnHP: 0
                        spotLight: null
                        spotLightEnd: null
                        featured: null
                        websiteId: 3
                        nbEpisodes: 0
                        followedByMe: false
                        smallSummary: 'Schon seit seiner Kindheit ist Saijou Takato Schauspieler und hält seit 5 Jahren den Titel „Begehrenswertester Mann“. '
                        onlyForAdmin: false
                        copyright: ©DO1 PROJECT
                        displayOnDiscover: null
                        classification:
                          $id: '3'
                          idClassification: 22
                          websiteId: 3
                          ageMin: 16
                          everyone: false
                          name: Mit Altersbeschränkung
                        redirectToShowItem: null
                        redirectToSeason: null
                        genres: []
                        tags: []
                        startProduction: '0001-01-01T00:00:00'
                        availableWithSVOD: true
                        availableInSVODSince: '2018-10-05T00:00:00'
                        availableInSVODUntil: '2023-10-01T00:00:00'
                        excludedCountriesList: ;
                        keywords: null
                        friendlyName: '-dakaichi--my-number-1-omu'
                        hideBackground: null
                        logoUrl: 416_Dakaichi_Logo_ENG_V1.png
                      season:
                        $id: '4'
                        episodes: null
                        nbTotalEpisodes: 0
                        nbTotalEpisodesBought: 0
                        nbTotalToBoughtEpisodes: 0
                        percentageComplete: 0
                        truePercentageComplete: 0
                        priceForAuthenticatedUsers: 0
                        nbTotalEpisodesToReceive: 0
                        discountAppliedSeason: 0
                        name: Staffel 1
                        shortName: S01
                        isARealSeason: false
                        startDate: '2018-10-05T00:00:00'
                        endDate: '2018-12-28T00:00:00'
                        premieredSeason: 2
                        premieredYear: 2018
                        isCatalogue: true
                        isSimulcast: false
                        active: true
                        idSeason: 723
                        allowToBuySeason: true
                        packInformation: null
                        isArc: false
                        totalPrice: 0
                        strikedPrice: 0
                        numberEpisodes: 0
                        alreadyBought: false
                        excludedCountriesList: null
                        enableDTR: true
                        dtrStartDateUtc: '1905-05-25T00:00:00'
                        dtrEndDateUtc: '2025-01-01T00:00:00'
                        isDtrAvailable: true
                        dtrExcludeCountries: null
                        adaptationType: 1
                        isMatureContent: true
                        posterSeason: null
                        startDateBroadcasting: '0001-01-01T00:00:00'
                        endDateBroadcasting: '0001-01-01T00:00:00'
                      havePremiumDownload: false
                      havePremiumStreaming: false
                      subtitles: null
                      title: Folge 10
                      numero: 10
                      nextEpisodeId: null
                      nextEpisodeActive: null
                      previousEpisodeId: null
                      previousEpisodeActive: null
                      nextEpisodeTitle: null
                      nextEpisodeImageUrl: null
                      previousEpisodeTitle: null
                      previousEpisodeImageUrl: null
                      plannedBroadcastingUTC: '2018-12-07T16:30:00'
                      availableFreeStartUTC: '2018-12-14T16:30:00'
                      availableFreeEndUTC: '2023-10-05T00:00:00'
                      availablePassNoAdStartUTC: '2018-12-14T16:30:00'
                      availablePassNoAdEndUTC: '2023-10-05T00:00:00'
                      availablePremiumStartUTC: '2018-12-07T16:30:00'
                      availablePremiumEndUTC: '2023-10-05T00:00:00'
                      availableSVODStartUTC: '2018-12-07T16:30:00'
                      availableSVODEndUTC: '2023-10-05T00:00:00'
                      availableLanguages: ''
                      allowedCountries: null
                      id: 7509
                      url: ''
                      imageUrl: 9775dc74-5b34-4179-b7f2-4fde2622fe60.jpg
                      rating: 0
                      active: true
                      activationApproved: true
                      alreadyViewed: false
                      playTime: 3
                      duration: 1432
                      metaDescription: null
                      shortTitle: E10
                      metaTitle: Episode 10 - Staffel 1 - DAKAICHI -My number 1- (OmU.)
                      premiumPrice: 1
                      enableStreaming: true
                      enableDownloadNoDRM: true
                      episodePremiumDLMobile: null
                      episodePremiumDL720p: null
                      episodePremiumDL1080p: null
                      episodePremiumStreaming: ''
                      episodeSVODStreaming: ''
                      nbActivationStreaming: 0
                      nbActivationDownload: 0
                      episodeFreeStreaming: ''
                      episodeNoAdStreaming: ''
                      episodeDLFreeSD: null
                      episodeDLFreeHD: null
                      endDateBought: '0001-01-01T00:00:00'
                      midRollTime: '00:02:23.973|00:12:39.964|00:23:37.914|00:23:52.762'
                      leaps: null
                      parsedLeaps: []
                      tags:
                        - $id: '5'
                          id: 26
                          name: '2.0'
                          websiteId: 3
                          active: true
                          isIcon: true
                          icon: '20'
                          tooltip: '2.0'
                          text: '2.0'
                        - $id: '6'
                          id: 22
                          name: HD
                          websiteId: 3
                          active: true
                          isIcon: true
                          icon: hd
                          tooltip: HD
                          text: HD
                        - $id: '7'
                          id: 25
                          name: (OmU.)
                          websiteId: 3
                          active: true
                          isIcon: false
                          icon: null
                          tooltip: Japanisch mit. dt. Untertiteln
                          text: (OmU.)
                      alreadyBought: false
                      isDtrAvailable: true
                      isFairplayDTRAvailable: true
                      forceUseFree: null
                      assetDuration: 14329280000
                      assetDurationISO8601: T23M52S
                      assetDurationLongString: '23:52'
                      metadata: null
                      isVisibleForEndUser: true
                      nbDaysAvailableFree: 258
                      nbDaysAvailableNoAd: 258
                      haveFree: true
                      progressPercentage: 0
                      haveNoAds: true
                      haveSVOD: true
                      havePremium: true
                      wakanimEncodingVersion: null
                      isMatureContent: null
                      holdbackMinutesDL: null
        '403':
          description: Forbidden
      operationId: get-catalogue-continuewatching
      security:
        - API_Key: []
  /catalogue/latestepisodes:
    get:
      summary: Latest Episodes
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    $id:
                      type: string
                    show:
                      type: object
                      properties:
                        $id:
                          type: string
                        active:
                          type: boolean
                        idShowItem:
                          type: integer
                        allowedCountries:
                          type: 'null'
                        internalName:
                          type: string
                        name:
                          type: string
                        originalName:
                          type: string
                        availableOnPremiumDL:
                          type: boolean
                        availableOnPremium:
                          type: boolean
                        availableWithPassNoAd:
                          type: boolean
                        availableWithFree:
                          type: boolean
                        yearBroadcasting:
                          type: integer
                        isFinishedSimulcast:
                          type: boolean
                        typeOfShow:
                          type: integer
                        isPopularTitle:
                          type: boolean
                        imageUrl:
                          type: string
                        thumbnail:
                          type: string
                        metaDescription:
                          type: string
                        metaTitle:
                          type: string
                        metaType:
                          type: integer
                        rating:
                          type: number
                        ratingStory:
                          type: number
                        ratingAnimation:
                          type: number
                        ratingCharacter:
                          type: number
                        ratingMusic:
                          type: number
                        nbSeasons:
                          type: integer
                        seoMetaTitle:
                          type: string
                        seoMetaDescription:
                          type: string
                        seoOtherNames:
                          type: 'null'
                        seoH1:
                          type: string
                        typeOfShowSTR:
                          type: string
                        orderOnHP:
                          type: integer
                        spotLight:
                          type: string
                        spotLightEnd:
                          type: string
                        featured:
                          type: string
                        websiteId:
                          type: integer
                        nbEpisodes:
                          type: integer
                        followedByMe:
                          type: boolean
                        smallSummary:
                          type: string
                        onlyForAdmin:
                          type: boolean
                        copyright:
                          type: 'null'
                        displayOnDiscover:
                          type: 'null'
                        classification:
                          type: object
                          properties:
                            $id:
                              type: string
                            idClassification:
                              type: integer
                            websiteId:
                              type: integer
                            ageMin:
                              type: integer
                            everyone:
                              type: boolean
                            name:
                              type: string
                        redirectToShowItem:
                          type: 'null'
                        redirectToSeason:
                          type: 'null'
                        genres:
                          type: array
                          items:
                            type: object
                            properties: {}
                        tags:
                          type: array
                          items:
                            type: object
                            properties: {}
                        startProduction:
                          type: string
                        availableWithSVOD:
                          type: boolean
                        availableInSVODSince:
                          type: string
                        availableInSVODUntil:
                          type: string
                        excludedCountriesList:
                          type: string
                        keywords:
                          type: string
                        friendlyName:
                          type: string
                        hideBackground:
                          type: boolean
                        logoUrl:
                          type: string
                    season:
                      type: object
                      properties:
                        $id:
                          type: string
                        episodes:
                          type: 'null'
                        nbTotalEpisodes:
                          type: integer
                        nbTotalEpisodesBought:
                          type: integer
                        nbTotalToBoughtEpisodes:
                          type: integer
                        percentageComplete:
                          type: integer
                        truePercentageComplete:
                          type: integer
                        priceForAuthenticatedUsers:
                          type: integer
                        nbTotalEpisodesToReceive:
                          type: integer
                        discountAppliedSeason:
                          type: integer
                        name:
                          type: string
                        shortName:
                          type: string
                        isARealSeason:
                          type: boolean
                        startDate:
                          type: string
                        endDate:
                          type: string
                        premieredSeason:
                          type: integer
                        premieredYear:
                          type: integer
                        isCatalogue:
                          type: boolean
                        isSimulcast:
                          type: boolean
                        active:
                          type: boolean
                        idSeason:
                          type: integer
                        allowToBuySeason:
                          type: boolean
                        packInformation:
                          type: 'null'
                        isArc:
                          type: boolean
                        totalPrice:
                          type: integer
                        strikedPrice:
                          type: integer
                        numberEpisodes:
                          type: integer
                        alreadyBought:
                          type: boolean
                        excludedCountriesList:
                          type: 'null'
                        enableDTR:
                          type: boolean
                        dtrStartDateUtc:
                          type: string
                        dtrEndDateUtc:
                          type: string
                        isDtrAvailable:
                          type: boolean
                        dtrExcludeCountries:
                          type: 'null'
                        adaptationType:
                          type: integer
                        isMatureContent:
                          type: boolean
                        posterSeason:
                          type: 'null'
                        startDateBroadcasting:
                          type: string
                        endDateBroadcasting:
                          type: string
                    havePremiumDownload:
                      type: boolean
                    havePremiumStreaming:
                      type: boolean
                    subtitles:
                      type: 'null'
                    title:
                      type: string
                    numero:
                      type: integer
                    nextEpisodeId:
                      type: 'null'
                    nextEpisodeActive:
                      type: 'null'
                    previousEpisodeId:
                      type: 'null'
                    previousEpisodeActive:
                      type: 'null'
                    nextEpisodeTitle:
                      type: 'null'
                    nextEpisodeImageUrl:
                      type: 'null'
                    previousEpisodeTitle:
                      type: 'null'
                    previousEpisodeImageUrl:
                      type: 'null'
                    plannedBroadcastingUTC:
                      type: string
                    availableFreeStartUTC:
                      type: string
                    availableFreeEndUTC:
                      type: string
                    availablePassNoAdStartUTC:
                      type: string
                    availablePassNoAdEndUTC:
                      type: string
                    availablePremiumStartUTC:
                      type: string
                    availablePremiumEndUTC:
                      type: string
                    availableSVODStartUTC:
                      type: string
                    availableSVODEndUTC:
                      type: string
                    availableLanguages:
                      type: string
                    allowedCountries:
                      type: 'null'
                    id:
                      type: integer
                    url:
                      type: string
                    imageUrl:
                      type: string
                    rating:
                      type: integer
                    active:
                      type: boolean
                    activationApproved:
                      type: boolean
                    alreadyViewed:
                      type: boolean
                    playTime:
                      type: integer
                    duration:
                      type: integer
                    metaDescription:
                      type: string
                    shortTitle:
                      type: string
                    metaTitle:
                      type: string
                    premiumPrice:
                      type: integer
                    enableStreaming:
                      type: boolean
                    enableDownloadNoDRM:
                      type: boolean
                    episodePremiumDLMobile:
                      type: 'null'
                    episodePremiumDL720p:
                      type: 'null'
                    episodePremiumDL1080p:
                      type: 'null'
                    episodePremiumStreaming:
                      type: string
                    episodeSVODStreaming:
                      type: string
                    nbActivationStreaming:
                      type: integer
                    nbActivationDownload:
                      type: integer
                    episodeFreeStreaming:
                      type: string
                    episodeNoAdStreaming:
                      type: string
                    episodeDLFreeSD:
                      type: 'null'
                    episodeDLFreeHD:
                      type: 'null'
                    endDateBought:
                      type: string
                    midRollTime:
                      type: 'null'
                    leaps:
                      type: 'null'
                    parsedLeaps:
                      type: array
                      items:
                        type: object
                        properties: {}
                    tags:
                      type: array
                      items:
                        type: object
                        properties:
                          $id:
                            type: string
                          id:
                            type: integer
                          name:
                            type: string
                          websiteId:
                            type: integer
                          active:
                            type: boolean
                          isIcon:
                            type: boolean
                          icon:
                            type:
                              - 'null'
                              - string
                          tooltip:
                            type: string
                          text:
                            type: string
                    alreadyBought:
                      type: boolean
                    isDtrAvailable:
                      type: boolean
                    isFairplayDTRAvailable:
                      type: boolean
                    forceUseFree:
                      type: 'null'
                    assetDuration:
                      type: integer
                    assetDurationISO8601:
                      type: string
                    assetDurationLongString:
                      type: string
                    metadata:
                      type: 'null'
                    isVisibleForEndUser:
                      type: boolean
                    nbDaysAvailableFree:
                      type: integer
                    nbDaysAvailableNoAd:
                      type: integer
                    haveFree:
                      type: boolean
                    progressPercentage:
                      type: integer
                    haveNoAds:
                      type: boolean
                    haveSVOD:
                      type: boolean
                    havePremium:
                      type: boolean
                    wakanimEncodingVersion:
                      type: 'null'
                    isMatureContent:
                      type: boolean
                    holdbackMinutesDL:
                      type: 'null'
                x-examples:
                  Example 1:
                    - $id: '1'
                      show:
                        $id: '2'
                        active: true
                        idShowItem: 1312
                        allowedCountries: null
                        internalName: SHADOWS HOUSE
                        name: SHADOWS HOUSE
                        originalName: 'シャドーハウス '
                        availableOnPremiumDL: true
                        availableOnPremium: true
                        availableWithPassNoAd: true
                        availableWithFree: true
                        yearBroadcasting: 2021
                        isFinishedSimulcast: false
                        typeOfShow: 0
                        isPopularTitle: false
                        imageUrl: 'http://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/cdn1/library/24_637529539914535388SH_Small.jpg'
                        thumbnail: 'http://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/cdn1/library/24_637529539915316317SH_Small.jpg'
                        metaDescription: SHADOWS HOUSE (OmU.)
                        metaTitle: SHADOWS HOUSE (OmU.)
                        metaType: 0
                        rating: 4.6
                        ratingStory: 4.6
                        ratingAnimation: 4.7
                        ratingCharacter: 4.6
                        ratingMusic: 4.6
                        nbSeasons: 2
                        seoMetaTitle: 'SHADOWS HOUSE - Anime-Streaming (OmU), in HD und legal auf Wakanim.tv'
                        seoMetaDescription: 'SHADOWS HOUSE - Anime vom Regisseur Kazuki Ohashi. Seasons: 1. Dauer: 23 min'
                        seoOtherNames: null
                        seoH1: SHADOWS HOUSE
                        typeOfShowSTR: Series
                        orderOnHP: 0
                        spotLight: 'JEDEN SAMSTAG UM 19:00 UHR'
                        spotLightEnd: '2021-07-03T17:00:00'
                        featured: 'Eine Adaption des Mangas vom Somato, herausgegeben vom Verlag Glénat, die durch das Studio Clover Works umgesetzt wurde (The Promised Neverland, Wonder Egg Priority) !'
                        websiteId: 3
                        nbEpisodes: 0
                        followedByMe: false
                        smallSummary: 'Dieses Herrenhaus besitzt ein Geheimnis … In einem großen Herrenhaus am Rande einer Klippe leben die Shadows, ein gesichtsloser Familienklan, der sich den Anschein eines aristokratischen Lebens gibt.'
                        onlyForAdmin: false
                        copyright: null
                        displayOnDiscover: null
                        classification:
                          $id: '3'
                          idClassification: 21
                          websiteId: 3
                          ageMin: 0
                          everyone: true
                          name: Ohne Altersbeschränkung
                        redirectToShowItem: null
                        redirectToSeason: null
                        genres: []
                        tags: []
                        startProduction: '0001-01-01T00:00:00'
                        availableWithSVOD: true
                        availableInSVODSince: '2021-04-10T00:00:00'
                        availableInSVODUntil: '2028-04-01T00:00:00'
                        excludedCountriesList: ;
                        keywords: 'Shadō Hausu, Kate Shadow, Emilyko'
                        friendlyName: shadows-house
                        hideBackground: false
                        logoUrl: 1312_shadowhouse_logo_English-01.png
                      season:
                        $id: '4'
                        episodes: null
                        nbTotalEpisodes: 0
                        nbTotalEpisodesBought: 0
                        nbTotalToBoughtEpisodes: 0
                        percentageComplete: 0
                        truePercentageComplete: 0
                        priceForAuthenticatedUsers: 10
                        nbTotalEpisodesToReceive: 0
                        discountAppliedSeason: -10
                        name: Staffel 2
                        shortName: S2
                        isARealSeason: true
                        startDate: '2022-06-01T00:00:00'
                        endDate: '2022-10-01T00:00:00'
                        premieredSeason: 0
                        premieredYear: 2022
                        isCatalogue: false
                        isSimulcast: false
                        active: true
                        idSeason: 3675
                        allowToBuySeason: false
                        packInformation: null
                        isArc: false
                        totalPrice: 10
                        strikedPrice: 12
                        numberEpisodes: 0
                        alreadyBought: false
                        excludedCountriesList: null
                        enableDTR: true
                        dtrStartDateUtc: '1900-01-01T00:00:00'
                        dtrEndDateUtc: '2025-01-01T00:00:00'
                        isDtrAvailable: true
                        dtrExcludeCountries: null
                        adaptationType: 1
                        isMatureContent: false
                        posterSeason: null
                        startDateBroadcasting: '0001-01-01T00:00:00'
                        endDateBroadcasting: '0001-01-01T00:00:00'
                      havePremiumDownload: false
                      havePremiumStreaming: false
                      subtitles: null
                      title: Folge 12
                      numero: 12
                      nextEpisodeId: null
                      nextEpisodeActive: null
                      previousEpisodeId: null
                      previousEpisodeActive: null
                      nextEpisodeTitle: null
                      nextEpisodeImageUrl: null
                      previousEpisodeTitle: null
                      previousEpisodeImageUrl: null
                      plannedBroadcastingUTC: '2022-09-23T16:30:00'
                      availableFreeStartUTC: '2010-10-10T00:00:00'
                      availableFreeEndUTC: '2010-10-11T00:00:00'
                      availablePassNoAdStartUTC: '2022-09-30T16:30:00'
                      availablePassNoAdEndUTC: '2032-07-08T16:30:00'
                      availablePremiumStartUTC: '2010-10-10T00:00:00'
                      availablePremiumEndUTC: '2010-10-11T00:00:00'
                      availableSVODStartUTC: '2022-09-23T16:30:00'
                      availableSVODEndUTC: '2032-07-08T16:30:00'
                      availableLanguages: '0'
                      allowedCountries: null
                      id: 39975
                      url: ''
                      imageUrl: 28317067-ac46-4986-88f5-7962e61067d0.jpg
                      rating: 0
                      active: true
                      activationApproved: true
                      alreadyViewed: false
                      playTime: 0
                      duration: 0
                      metaDescription: Episode 12 - Staffel 2 - SHADOWS HOUSE
                      shortTitle: E12
                      metaTitle: Episode 12 - Staffel 2 - SHADOWS HOUSE
                      premiumPrice: -1
                      enableStreaming: true
                      enableDownloadNoDRM: false
                      episodePremiumDLMobile: null
                      episodePremiumDL720p: null
                      episodePremiumDL1080p: null
                      episodePremiumStreaming: ''
                      episodeSVODStreaming: ''
                      nbActivationStreaming: 0
                      nbActivationDownload: 0
                      episodeFreeStreaming: ''
                      episodeNoAdStreaming: ''
                      episodeDLFreeSD: null
                      episodeDLFreeHD: null
                      endDateBought: '0001-01-01T00:00:00'
                      midRollTime: null
                      leaps: null
                      parsedLeaps: []
                      tags:
                        - $id: '5'
                          id: 26
                          name: '2.0'
                          websiteId: 3
                          active: true
                          isIcon: true
                          icon: '20'
                          tooltip: '2.0'
                          text: '2.0'
                        - $id: '6'
                          id: 22
                          name: HD
                          websiteId: 3
                          active: true
                          isIcon: true
                          icon: hd
                          tooltip: HD
                          text: HD
                        - $id: '7'
                          id: 25
                          name: (OmU.)
                          websiteId: 3
                          active: true
                          isIcon: false
                          icon: null
                          tooltip: Japanisch mit. dt. Untertiteln
                          text: (OmU.)
                      alreadyBought: false
                      isDtrAvailable: true
                      isFairplayDTRAvailable: true
                      forceUseFree: null
                      assetDuration: 14281360000
                      assetDurationISO8601: T23M48S
                      assetDurationLongString: '23:48'
                      metadata: null
                      isVisibleForEndUser: true
                      nbDaysAvailableFree: -4484
                      nbDaysAvailableNoAd: 3458
                      haveFree: false
                      progressPercentage: 0
                      haveNoAds: true
                      haveSVOD: true
                      havePremium: false
                      wakanimEncodingVersion: null
                      isMatureContent: false
                      holdbackMinutesDL: null
                    - $id: '8'
                      show:
                        $id: '9'
                        active: true
                        idShowItem: 1312
                        allowedCountries: null
                        internalName: SHADOWS HOUSE
                        name: SHADOWS HOUSE
                        originalName: 'シャドーハウス '
                        availableOnPremiumDL: true
                        availableOnPremium: true
                        availableWithPassNoAd: true
                        availableWithFree: true
                        yearBroadcasting: 2021
                        isFinishedSimulcast: false
                        typeOfShow: 0
                        isPopularTitle: false
                        imageUrl: 'http://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/cdn1/library/24_637529539914535388SH_Small.jpg'
                        thumbnail: 'http://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/cdn1/library/24_637529539915316317SH_Small.jpg'
                        metaDescription: SHADOWS HOUSE (OmU.)
                        metaTitle: SHADOWS HOUSE (OmU.)
                        metaType: 0
                        rating: 4.6
                        ratingStory: 4.6
                        ratingAnimation: 4.7
                        ratingCharacter: 4.6
                        ratingMusic: 4.6
                        nbSeasons: 2
                        seoMetaTitle: 'SHADOWS HOUSE - Anime-Streaming (OmU), in HD und legal auf Wakanim.tv'
                        seoMetaDescription: 'SHADOWS HOUSE - Anime vom Regisseur Kazuki Ohashi. Seasons: 1. Dauer: 23 min'
                        seoOtherNames: null
                        seoH1: SHADOWS HOUSE
                        typeOfShowSTR: Series
                        orderOnHP: 0
                        spotLight: 'JEDEN SAMSTAG UM 19:00 UHR'
                        spotLightEnd: '2021-07-03T17:00:00'
                        featured: 'Eine Adaption des Mangas vom Somato, herausgegeben vom Verlag Glénat, die durch das Studio Clover Works umgesetzt wurde (The Promised Neverland, Wonder Egg Priority) !'
                        websiteId: 3
                        nbEpisodes: 0
                        followedByMe: false
                        smallSummary: 'Dieses Herrenhaus besitzt ein Geheimnis … In einem großen Herrenhaus am Rande einer Klippe leben die Shadows, ein gesichtsloser Familienklan, der sich den Anschein eines aristokratischen Lebens gibt.'
                        onlyForAdmin: false
                        copyright: null
                        displayOnDiscover: null
                        classification:
                          $id: '10'
                          idClassification: 21
                          websiteId: 3
                          ageMin: 0
                          everyone: true
                          name: Ohne Altersbeschränkung
                        redirectToShowItem: null
                        redirectToSeason: null
                        genres: []
                        tags: []
                        startProduction: '0001-01-01T00:00:00'
                        availableWithSVOD: true
                        availableInSVODSince: '2021-04-10T00:00:00'
                        availableInSVODUntil: '2028-04-01T00:00:00'
                        excludedCountriesList: ;
                        keywords: 'Shadō Hausu, Kate Shadow, Emilyko'
                        friendlyName: shadows-house
                        hideBackground: false
                        logoUrl: 1312_shadowhouse_logo_English-01.png
                      season:
                        $id: '11'
                        episodes: null
                        nbTotalEpisodes: 0
                        nbTotalEpisodesBought: 0
                        nbTotalToBoughtEpisodes: 0
                        percentageComplete: 0
                        truePercentageComplete: 0
                        priceForAuthenticatedUsers: 10
                        nbTotalEpisodesToReceive: 0
                        discountAppliedSeason: -10
                        name: Staffel 2
                        shortName: S2
                        isARealSeason: true
                        startDate: '2022-06-01T00:00:00'
                        endDate: '2022-10-01T00:00:00'
                        premieredSeason: 0
                        premieredYear: 2022
                        isCatalogue: false
                        isSimulcast: false
                        active: true
                        idSeason: 3675
                        allowToBuySeason: false
                        packInformation: null
                        isArc: false
                        totalPrice: 10
                        strikedPrice: 12
                        numberEpisodes: 0
                        alreadyBought: false
                        excludedCountriesList: null
                        enableDTR: true
                        dtrStartDateUtc: '1900-01-01T00:00:00'
                        dtrEndDateUtc: '2025-01-01T00:00:00'
                        isDtrAvailable: true
                        dtrExcludeCountries: null
                        adaptationType: 1
                        isMatureContent: false
                        posterSeason: null
                        startDateBroadcasting: '0001-01-01T00:00:00'
                        endDateBroadcasting: '0001-01-01T00:00:00'
                      havePremiumDownload: false
                      havePremiumStreaming: false
                      subtitles: null
                      title: Folge 11
                      numero: 11
                      nextEpisodeId: null
                      nextEpisodeActive: null
                      previousEpisodeId: null
                      previousEpisodeActive: null
                      nextEpisodeTitle: null
                      nextEpisodeImageUrl: null
                      previousEpisodeTitle: null
                      previousEpisodeImageUrl: null
                      plannedBroadcastingUTC: '2022-09-16T16:30:00'
                      availableFreeStartUTC: '2010-10-10T00:00:00'
                      availableFreeEndUTC: '2010-10-11T00:00:00'
                      availablePassNoAdStartUTC: '2022-09-23T16:30:00'
                      availablePassNoAdEndUTC: '2032-07-08T16:30:00'
                      availablePremiumStartUTC: '2010-10-10T00:00:00'
                      availablePremiumEndUTC: '2010-10-11T00:00:00'
                      availableSVODStartUTC: '2022-09-16T16:30:00'
                      availableSVODEndUTC: '2032-07-08T16:30:00'
                      availableLanguages: '0'
                      allowedCountries: null
                      id: 39974
                      url: ''
                      imageUrl: 7b26ca54-8a7b-485a-815c-a9a18488387d.jpg
                      rating: 0
                      active: true
                      activationApproved: true
                      alreadyViewed: false
                      playTime: 0
                      duration: 0
                      metaDescription: Episode 11 - Staffel 2 - SHADOWS HOUSE
                      shortTitle: E11
                      metaTitle: Episode 11 - Staffel 2 - SHADOWS HOUSE
                      premiumPrice: -1
                      enableStreaming: true
                      enableDownloadNoDRM: false
                      episodePremiumDLMobile: null
                      episodePremiumDL720p: null
[...]
